#brand {
  color: #666;
  font-family: 'Special Elite', cursive;
  font-size:2em;
  list-style: none;
  position: absolute;
  top: 0;
}

body{
  font-family: 'Forum', cursive;
  font-size: 1.5em;
  background-color: #acf;
}

article{
  padding:0 0 0 10%;
  position: absolute;
  top: 15%;
}

.mainMenu ul li{
  list-style: none;
  display:block;
  margin:1% 0 0 0;

}

.mainMenu ul li{
  margin-left: -100%;
}

.mainMenu ul li:hover{
  margin-left: 0;
}
